<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Hotel Review Site</title>
	
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/General.css" type="text/css">
		<link rel="stylesheet" href="/stylesheets/Form.css" type="text/css" >
	</head>
	
	<body>
	
		<div id="head">
			<a href="/" id="header">Hotel Reviews</a>
		</div>
		
		<div class="container-fluid" id="headerBar">
			<div class="btn-group" role="group" aria-label="...">
				<a href="/hotelReviews"><button type="button" class="btn btn-lg bgc">View Reviews</button></a>
				<a href="/submitReview"><button type="button" class="btn btn-lg bgc">Submit a Review</button></a>
			</div>
		</div>
	
		<div id="content">
			<h1>Submit a Review</h1>
		
			<hr/>
			
			<form id="reviewForm" action="addReview" method="post">
				<label for="name">Hotel Name</label>
				<input type="text" name="name" required />
				<br/>
				
				<label for="rating">Average Rating</label>
				<input type="text" name="rating" required />
				<br/>
				
				<label for="reviews">Number of Reviews</label>
				<input type="text" name="reviews" required />
				<br/>
				<br/>
				
				<input type="submit" value="Submit" id="submitBtn" class="btn"/>
			</form>
		</div>

	</body>
</html>