@CHARSET "ISO-8859-1";

html{
	font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

#headerBar{
	background-color: #ff6a6a;
}

#head{
	font-size: 300%;
	font-weight: bold;
	padding: 20px;
	color: #76eec6
}

#head:hover{
	color: #76eec6;
	cursor: pointer;
}

#content{
	padding: 20px;
}

.bgc{
	background-color:#ff6a6a;
}

