<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SessionExamples</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Invalidate</display-name>
    <servlet-name>Invalidate</servlet-name>
    <servlet-class>servlets.Invalidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invalidate</servlet-name>
    <url-pattern>/Invalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadNames</display-name>
    <servlet-name>LoadNames</servlet-name>
    <servlet-class>servlets.LoadNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadNames</servlet-name>
    <url-pattern>/LoadNames</url-pattern>
  </servlet-mapping>
</web-app>